@media (max-width: 768px) {
  .mainContainer {
    display: none;
  }
  .headerContainerMobile {
    display: block;
    background-image: url(/home-bg.jpg);
    height: 400px;
    padding: 10px 20px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    .mobileMenu {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    i {
      color: white;
    }
    .navIcon {
      display: flex;
      align-items: center;
      gap: 20px;
      .fa-bars {
        font-size: 30px;
      }
      .logo {
        width: 90px;
      }
    }

    .iconContainer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 15px;
      .accountIcon {
        background-color: rgb(224 223 223 / 63%);
        color: blue;
        padding: 10px;
        border-radius: 10px;
        cursor: pointer;
      }
      .cartIcon {
        width: 25px;
        cursor: pointer;
      }
      .searchIcon {
        background: linear-gradient(to bottom, #ff4a1b, #ff7206);
        padding: 12px;
        border-radius: 50%;
        cursor: pointer;
      }
    }

    .searchIcon {
      margin: 10px 0;
    }
  }


}
